
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 25% 14%;
    --foreground: 210 40% 98%;

    --card: 224 30% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 255 84% 75%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 260 30% 54%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 260 30% 54%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 3.7% 15.9%;
    --input: 217.2 32.6% 17.5%;
    --ring: 255 84% 75%;

    --radius: 0.5rem;

    --sidebar-background: 224 30% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 255 84% 75%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 255 84% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-zanga-deep-purple/50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zanga-purple;
  }
}

.music-card {
  @apply relative overflow-hidden rounded-md bg-card p-3 transition-all hover:bg-card/80;
}

.music-card-image {
  @apply aspect-square w-full rounded-md object-cover transition-all;
}

.music-card:hover .music-card-image {
  @apply scale-105;
}

.music-card-play {
  @apply absolute bottom-[52px] right-4 flex h-10 w-10 translate-y-4 items-center justify-center rounded-full bg-zanga-purple opacity-0 shadow-lg transition-all hover:bg-zanga-purple/90;
}

.music-card:hover .music-card-play {
  @apply translate-y-0 opacity-100;
}
